:root {
    --body-background-color: #fff;
    --body-text-color: #394e6a;
    --card-background-color: #efefef;
    --nav-background-color: #e5e7eb;
    --nav-border-bottom-color: #d8e8e4;
    --nav-current-border-bottom-color: #1abc9c;
    --card-border-color: #d8e8e4;
    --down-border-left-color: #eb3b5a;
    --down-background-color: #ffd0d2;
    --degraded-border-left-color: #EFD7BB;
    --up-border-left-color: #81CFD1;
    --tag-color: #ffffff;
    --tag-up-background-color: #81CFD1;
    --tag-down-background-color: #eb3b5a;
    --tag-degraded-background-color: #EFD7BB;
    --change-background-color: #f7b731;
    --error-button-border-color: #1a46ad;
    --error-button-background-color: #E58B8B;
    --error-button-color: #3f4842;
    --submit-button-border-color: #1a46ad;
    --submit-button-background-color: #b8c0b3;
    --submit-button-color: #ffffff;
    --graph-opacity: 1;
    --graph-filter: none;
}

nav {
    color: #394e6a;
}

footer {
    display: none;
}
